
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #3b3b98;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

h2{
    margin: 10px 0 20px;
    text-align: center;
    text-shadow: #110833 0px 5px 5px;
}

#length{
    background: none;
    color: #fff;
    border-style: inset;
}

.container{
    background: linear-gradient(180deg, #23235b,#3b3b98);
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 5%;
}

.result-container{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result{
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    overflow-y: scroll;
    height: 100%;
}

#result::-webkit-scrollbar {
    width: 1rem; /*rem es el tamaño equivalente al de la fuente*/
}

.result-container .btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.btn{
    border: none;
    background-color: #3b3b98;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-large{
    display: block;
    width: 100%;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    position: relative;
    margin-bottom: 30px;
    display: block;

}

.setting input[type=checkbox]{
    position: absolute;
    right: 0;
    width: 50px;
    height: 20px;
    z-index: 10;
    appearance: none;

}

.setting input + i{
    background: #f0f0f0;
    border:2px solid rgba(0,0,0,0.2);
    position: absolute; 
    right: 0;
    top: 0;
    transition: all 1s;
}

.setting input[type=checkbox] + i{
    width: 52px;
	height: 30px;
	border-radius: 15px;
}

.setting input[type=checkbox] + i:before{
    content: ''; /* No hay contenido */
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	top: 0px;
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    transition: all 0.5s;
}

.setting input[type=checkbox]:checked + i:before{
    transform: translateX(23px);
	-webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.setting input[type=checkbox]:checked + i{
    background: #4e36d8;
}

.setting input[type=checkbox] + i:after{
    content: ''; /* No hay contenido */

	border-radius: 50%;
	position: absolute;
	z-index: 1;
	top: 0px;
    transform: translateX(-23px);
    transition: all 0.5;

}

.setting input[type=checkbox]:checked + i:after{
    opacity: 0;

}



/* ALERTA */

.alertas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alert{
    width: 60%;
    padding: 20px 60px;
    top: 0;
    position: fixed;
    transition: all 0.5s;
}

.alert.hide{
    transform: translateY(-100%);
}

.alert.show{
    transform: 50%;
}

#alertSuccess{
    background: #d4edda;
    border-right: 4px solid #279e43;
    color: #23235b;
    font-size: 18px;
}

#alertCopied{
    background: #0346ff;
    border-right: 4px solid #1b0091;
    color: #ffffff;
    font-size: 18px;
}

.alert.hide1{
    transform: translateY(-100%);
}

.alert.show1{
    transform: 50%;
}

