html(lang="en")
  head
    title Page Not Found
    link(rel="stylesheet", href="style404.css")
  body
  div 
    h1 Error 404: Page Not Found
    p The requested page could not be found.
  div 
    a(href="/") Go back to the homepage